[submodule ".janus/nerdtree-ack"]
	path = .janus/nerdtree-ack
	url = https://github.com/vim-scripts/nerdtree-ack.git
[submodule ".janus/ruby-runner"]
	path = .janus/ruby-runner
	url = https://github.com/henrik/vim-ruby-runner
[submodule ".janus/l9"]
	path = .janus/l9
	url = https://github.com/vim-scripts/L9.git
[submodule ".janus/vim-gista"]
	path = .janus/vim-gista
	url = https://github.com/lambdalisue/vim-gista.git
[submodule ".janus/vim-repress"]
	path = .janus/vim-repress
	url = https://github.com/vim-scripts/VimRepress.git
[submodule ".janus/YouCompleteMe"]
	path = .janus/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".janus/tabular"]
	path = .janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".janus/vim-signify"]
	path = .janus/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".janus/timestamp.vim"]
	path = .janus/timestamp.vim
	url = https://github.com/vim-scripts/timestamp.vim.git
[submodule ".janus/QFGrep"]
	path = .janus/QFGrep
	url = https://github.com/vim-scripts/QFGrep.vim.git
[submodule ".janus/vim-mikrotik"]
	path = .janus/vim-mikrotik
	url = https://github.com/zainin/vim-mikrotik.git
[submodule ".janus/emmet"]
	path = .janus/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule ".janus/editorconfig"]
	path = .janus/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".janus/vim-rubocop"]
	path = .janus/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule ".janus/evervim"]
	path = .janus/evervim
	url = https://github.com/kakkyz81/evervim.git
