*.pyc
*~
.DS_Store
.ansible/hosts
.ansible/log/execution.log
.bash_env
.config/*
.config/karabiner/automatic_backups/
.mutt/acc/
.mutt/cache/bodies/
.mutt/cache/headers
.netrc
.profile.d/*.disabled
.profile.d/*.off
.unison/
.vim/_backup/
.vim/_temp/
bin/knock-*
