*.pyc
*~
.DS_Store
.ansible/
.bash_env
.config/karabiner/automatic_backups/
.gitmodules
.mutt/acc/
.mutt/cache/bodies/
.mutt/cache/headers
.netrc
.profile.d/*.disabled
.profile.d/*.off
.unison/
.vim/_backup/
.vim/_temp/
# ignore packages dropped into pack/, except the colorschemes we track
.vim/pack/*/start/*
!.vim/pack/colors/start/t0d0r
.vim/plugged/
bin/knock-*
# Plaintext of the private overlay (see bin/private-seal). The paths
# themselves are secret, so they are listed in .git/info/exclude, which
# is local-only -- never name them here, this file is public.
.private-manifest
private.tar.gz
galaxy_token
