[core]
	excludesfile = /Users/todor.dragnev/.gitignore_global
	quotepath = false
	whitespace = cr-at-eol
[user]
	name = Todor Dragnev
	email = todor@linuxfan.org
[color]
	ui = auto
[alias]
	bv        = !git branch --color -v | cut -c1-100
	cb        = !git-cut-branch
	ci        = commit
	df        = diff --word-diff
	dfw       = diff --word-diff
	diff-word = diff --word-diff
	dw        = diff --word-diff
	fp        = format-patch --stdout
	grab      = !git-grab
	in        = !git-incoming
	incoming  = !git-incoming
	ll        = log --pretty=oneline --abbrev-commit --max-count=15
	out       = !git-outgoing
	outgoing  = !git-outgoing
	s         = status -sb -uno --ignore-submodules=untracked
	sa        = status -sb --ignore-submodules=untracked
	sh        = !git-sh
	st        = status
	thanks    = !git-thanks
	track     = !git-track
	wip       = !git add -u && git commit -m ...
	wipc      = !date >> WIP && git add WIP && git commit -m ...
	x         = checkout HEAD
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/t0d0r/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[push]
	default = simple
[pull]
	rebase = false
[diff]
	wordRegex = [^[:space:],]+|[,]+
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[github]
	user = t0d0r
[url "git@github.com:"]
	insteadOf = https://github.com/
