[submodule ".janus/nerdtree-ack"]
	path = .janus/nerdtree-ack
	url = https://github.com/vim-scripts/nerdtree-ack.git
[submodule ".janus/ruby-runner"]
	path = .janus/ruby-runner
	url = https://github.com/henrik/vim-ruby-runner
[submodule ".janus/l9"]
	path = .janus/l9
	url = https://github.com/vim-scripts/L9.git
[submodule ".janus/scmfrontend"]
	path = .janus/scmfrontend
	url = https://github.com/vim-scripts/ScmFrontEnd-former-name--MinSCM.git
[submodule ".janus/vim-orgmode"]
	path = .janus/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule ".janus/vim-gista"]
	path = .janus/vim-gista
	url = https://github.com/lambdalisue/vim-gista.git
[submodule ".janus/vim-repress"]
	path = .janus/vim-repress
	url = https://github.com/vim-scripts/VimRepress.git
[submodule ".janus/YouCompleteMe"]
	path = .janus/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
