"\e[5~": history-search-backward
"\e[6~": history-search-forward

"\e[A": history-search-backward
"\e[B": history-search-forward

set show-all-if-ambiguous on
#set completion-ignore-case on

# set -o vi, set default editing mode to VI
set editing-mode vi
$if mode=vi

set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen
$endif
